Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

**1.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [23]:
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, 0, 5, 2, 4.5, 0, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
df = pd.DataFrame(data) 
df1=pd.DataFrame(data,columns=['labels','animal','age','visits','priority'])
df1['labels']= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
print(df1)

  labels animal  age  visits priority
0      a    cat  2.5       1      yes
1      b    cat  3.0       3      yes
2      c  snake  0.5       2       no
3      d    dog  0.0       3      yes
4      e    dog  5.0       2       no
5      f    cat  2.0       3       no
6      g  snake  4.5       1       no
7      h    cat  0.0       1      yes
8      i    dog  7.0       2       no
9      j    dog  3.0       1       no

**2.** Display a summary of the basic information about this DataFrame and its data (*hint: there is a single method that can be called on the DataFrame*).

In [35]:
df2=df1.index
print(df2)
df3=df1.info()
print(df3)

RangeIndex(start=0, stop=10, step=1)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   labels    10 non-null     object
 1   animal    10 non-null     object
 2   age       10 non-null     float64
 3   visits    10 non-null     int64
 4   priority  10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes
None

**3.** Return the first 3 rows of the DataFrame `df`.

In [29]:
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, 0, 5, 2, 4.5, 0, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
df = pd.DataFrame(data) 
df1=pd.DataFrame(data,columns=['labels','animal','age','visits','priority'])
df1['labels']= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df3=df1.head(3)
print(df3)

  labels animal  age  visits priority
0      a    cat  2.5       1      yes
1      b    cat  3.0       3      yes
2      c  snake  0.5       2       no

**4.** Display the 'animal' and 'age' columns from the DataFrame `df`

In [99]:
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, 0, 5, 2, 4.5, 0, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
df = pd.DataFrame(data) 
df1=pd.DataFrame(data,columns=['labels','animal','age','visits','priority'])
df1['labels']= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df1[['animal','age']]

  animal  age
0    cat  2.5
1    cat  3.0
2  snake  0.5
3    dog  0.0
4    dog  5.0
5    cat  2.0
6  snake  4.5
7    cat  0.0
8    dog  7.0
9    dog  3.0

**5.** Display the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']'

In [117]:
display(df1.iloc[3])

labels        d
animal      dog
age         0.0
visits        3
priority    yes
Name: 3, dtype: object

**6.** Select only the rows where the number of visits is greater than 3.

In [52]:
df1['visits']>3

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: visits, dtype: bool

**7.** Select the rows where the age is missing, i.e. it is `NaN`.

In [119]:
df['age'].value_counts(0)

3.0    2
0.0    2
2.5    1
0.5    1
5.0    1
2.0    1
4.5    1
7.0    1
Name: age, dtype: int64

**8.** Select the rows where the animal is a cat *and* the age is less than 3.

In [111]:
df1['age']<3

0     True
1    False
2     True
3     True
4    False
5     True
6    False
7     True
8    False
9    False
Name: age, dtype: bool

**9.** Select the rows where the age is between 2 and 4 (inclusive)

**10.** Change the age in row 'f' to 1.5.

**11.** Calculate the sum of all visits in `df` (i.e. the total number of visits).

**12.** Calculate the mean age for each different animal in `df`.

**13.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [97]:
df1.append

<bound method DataFrame.append of   labels animal  age  visits priority
0      a    cat  2.5       1      yes
1      b    cat  3.0       3      yes
2      c  snake  0.5       2       no
3      d    dog  0.0       3      yes
4      e    dog  5.0       2       no
5      f    cat  2.0       3       no
6      g  snake  4.5       1       no
7      h    cat  0.0       1      yes
8      i    dog  7.0       2       no
9      j    dog  3.0       1       no>

**14.** Count the number of each type of animal in `df`.

**15.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).

In [85]:
df1.sort_values(by=['age','visits'],ascending=[False,True])

  labels animal  age  visits priority
8      i    dog  7.0       2       no
4      e    dog  5.0       2       no
6      g  snake  4.5       1       no
9      j    dog  3.0       1       no
1      b    cat  3.0       3      yes
0      a    cat  2.5       1      yes
5      f    cat  2.0       3       no
2      c  snake  0.5       2       no
7      h    cat  0.0       1      yes
3      d    dog  0.0       3      yes

**16.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

**17.** In the 'animal' column, change the 'snake' entries to 'python'.

**18.** Load the ny-flights dataset to Python

In [120]:
import pandas as pd
data=pd.read_csv("C:/Users/ACER/Downloads/ny-flights.csv")

FileNotFoundError: ignored

**19.** Which airline ID is present maximum times in the dataset

**20.** Draw a plot between dep_delay and arr_delay